.header-menu{
  display: flex;
}

.header-container{
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 312px;
  padding-left: 312px;
  align-items: center;
}

@media (max-width:768px){

  .header-menu{
    display: none;
  }

  .header-container{
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 12px;
  padding-left: 12px;
  align-items: center;}

  .header-menu{
    display: none;
}


  }

 
 

 
  