*{
    box-sizing: border-box;
   
}

a{
    text-decoration: none;
    color: rgba(33, 37, 41, 1);
}
img{
    width: 100%;
}

.df{
    display: flex;
}

body{
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.8px;
    color: rgba(33, 37, 41, 1);
}



.logo{
    padding-right: 48px;
}



.productlist{
    padding-top: 32px;
    padding-bottom: 32 px;
    padding-right: 312px;
    padding-left: 312px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;

}

.breadcrumb-container{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.breadcrumb-actived{
    color: rgba(33, 37, 41, 1)

}

.breadcrumb-default{
    color: rgba(108, 117, 125, 1);
}

.title-container{
    padding-top: 7px;
    padding-bottom: 7px;
}

h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 1.6px;

}

h3{
    font-size: 28px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 1.4px;
}

h4{
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 1.2px;
}



h6{
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.8px;

}

.lebel-md{
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.8px;
}

.paragragh-md{
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.8px;
}

.paragragh-sm{
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.7px;
}

.tablist-container{
    width: 196px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
    padding-right:24px;
    margin-right: 24px;
}

.tablist-default{
    width: 196px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-right: 40px;
}

.tablist-actived{
    font-weight: 500;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-right: 40px;
    color: rgba(87, 162, 3, 1);
}


.cardimg{
    margin-bottom: 12px;
}



.cardlist{
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}

.card {
    padding:0px 12px 48px 12px;
}

.col-30{
    width: 33.3%;
}

.col-25{
    width: 23.5%;
}



.text-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 4px;
}

.pagination-container{
    justify-content: center;
}

.pagination-btn-container{
    width: 40px;
    height: 40px;
    vertical-align: middle;
    text-align: center;
    padding:10px 0px ;
}

.pagination-btn-container-active{
    width: 40px;
    height: 40px;
    vertical-align: middle;
    text-align: center;
    padding:10px 0px ;
    background-color: rgba(192, 250, 115, 1);
}

.pagination-btn-container:hover{
    background-color:rgba(248, 249, 250, 1);
}

.pagination-btn-container:active{
    background-color: rgba(192, 250, 115, 1);
}



.pagination-btn{
    padding: 10px 12px;
}

.opacity40{
    opacity: 40%;
}

.banner{
    background-color: rgba(232, 254, 197, 1);
    height: 96px;
}

.banner-container{
    justify-content: center;
    align-items: center;
    padding: 24px ;
    margin-top: 48px;
}

.button-secondary{
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 11px 23px;
    background-color: rgb(255, 255, 255);
    color: rgba(33, 37, 41, 1);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(33, 37, 41, 1) ;

}

.button-secondary:hover{
    background-color: rgba(33, 37, 41, 1);
    color: #fff;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(33, 37, 41, 1) ;
}

.button-secondary:active{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 11px 23px;
    background-color: rgb(255, 255, 255);
    color: rgba(33, 37, 41, 1);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(33, 37, 41, 1) ;

}


.button-primary{
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    background-color: rgba(33, 37, 41, 1);
    color: #fff;
    border-radius: 5px;
    border-style: none;

}

.product-rwd{
    display: none;
}


@media (max-width:768px){
  
    .productlist{
        padding-top: 32px;
        padding-bottom: 32 px;
        padding-right: 12px;
        padding-left: 12px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 24px;
    
    }
    .tablist{
        display: none;
    }

    .cardlist{
        display: flex;
        flex-wrap: wrap;
        margin-right: -6px;
        margin-left: -6px;
    }

    .card {
        padding:0px 6px 24px 6px;
    }


    .col-30{
        width: 50%;
    }

    .product-rwd{
        display: flex;
    }
}
   
    
    
    
    

