<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>productdetail</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
<body>
    <section class="productlist">

        <div class="breadcrumb-section">
                <ul class="breadcrumb-container">
                    <li><a class="body breadcrumb-default" href="#">首頁</a></li>
                    <span class="body breadcrumb-default">/</span>
                    <li><a class="body breadcrumb-actived" href="#">所有商品</a></li>
                </ul>
        </div>
        <div class="productlist-container">
            <div class="title-container">
                <h3>所有商品</h3></div>
            </div>
            <div class="content df">
                <ul class="tablist">
                    <div class="tablist-container">
                    <li><a class="body tablist-actived" href="#">所有商品</a></li>
                    <li><a class="body tablist-defaul" href="#">慢跑鞋</a></li>
                    <li><a class="body tablist-defaul" href="#">滑板鞋</a></li>
                    <li><a class="body tablist-defaul" href="#">厚底鞋</a></li>
                    <li><a class="body tablist-defaul" href="#">限定/聯名企劃</a></li>
                    </div>
                </ul>
                <div class="product-container">

                    <div class="cardlist">

                        <a class="card col-30 " href="#">
                            <div class="card-container">
                                <img class="cardimg" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product.png?raw=true" alt="shoseimg">
                                <div class="text-section">
                                    <h6>PLATFORM 404</h6>
                                    <p class="lebel-md">NT$2,600</p>
                                </div>
                            </div>
                        </a>

                        <a class="card col-30" href="#">
                            <div class="card-container">
                                <img class="cardimg" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-1.png?raw=true" alt="shoseimg">
                                <div class="text-section">
                                    <h6>PLATFORM 404</h6>
                                    <p class="lebel-md">NT$2,600</p>
                                </div>
                            </div>

                        </a>
                        <a class="card col-30" href="#">
                            <div class="card-container">
                                <img class="cardimg" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-2.png?raw=true" alt="shoseimg">
                                <div class="text-section">
                                    <h6>VM001</h6>
                                    <p class="lebel-md">NT$2,600</p>
                                </div>
                            </div>
                            
                        </a>
                        <a class="card col-30" href="#">
                            <div class="card-container">
                                <img class="cardimg" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-3.png?raw=true" alt="shoseimg">
                                <div class="text-section">
                                    <h6>Melty Kiss</h6>
                                    <p class="lebel-md">NT$4,000</p>
                                </div>
                            </div>
                            
                        </a>
                        <a class="card col-30" href="#">
                            <div class="card-container">
                                    <img class="cardimg" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-4.png?raw=true" alt="shoseimg">
                                    <div class="text-section">
                                        <h6>BOOMBLOK</h6>
                                        <p class="lebel-md">NT$3,200</p>
                                </div>
                            </div>
                            
                        </a>
                        <a class="card col-30" href="#">
                            <div class="card-container">
                                <img class="cardimg" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-6.png?raw=true" alt="shoseimg">
                                <div class="text-section">
                                    <h6>BOOMBLOK</h6>
                                    <p class="lebel-md">NT$3,200</p>
                                </div>
                            </div>
                        </a>
                        <a class="card col-30" href="#">
                            <div class="card-container">
                                <img class="cardimg" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-7.png?raw=true" alt="shoseimg">
                                <div class="text-section">
                                    <h6>R:UNER</h6>
                                    <p class="lebel-md">NT$4,000</p>
                                </div>
                            </div>
                        </a>
                        <a class="card col-30" href="#">
                            <div class="card-container">
                                    <img class="cardimg" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-8.png?raw=true" alt="shoseimg">
                                    <div class="text-section">
                                        <h6>Sugar Snap</h6>
                                        <p class="lebel-md">NT$4,000</p>
                                    </div>
                            </div>
                        </a>
                        <a class="card col-30" href="#">
                            <div class="card-container">
                                <img class="cardimg" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-9.png?raw=true" alt="shoseimg">
                                <div class="text-section">
                                    <h6>Neofoam</h6>
                                    <p class="lebel-md">NT$4,000</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="pagination-section ">
                        <div class="pagination-container df">
                            
                            <ul class="df">
                                <li class="pagination-btn-container"><a class="pagiantion-btn" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-left opacity40" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                                  </svg></a></li>
                                <li class="pagination-btn-container"><a class="body pagination-btn " href="">1</a></li>
                                <li class="pagination-btn-container"><a class="body pagination-btn " href="">2</a></li>
                                <li class="pagination-btn-container"><a class="body pagination-btn " href="">3</a></li>
                                <li class="pagination-btn-container"><a class="body pagination-btn " href="">...</a></li>
                                <li class="pagination-btn-container"><a class="body pagination-btn " href="">10</a></li>
                                <li class="pagination-btn-container"><a class="pagiantion-btn" href=""><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-right opacity40" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                                  </svg></a></li>
                            </ul>
                            
                        </div>
                    </div>
            </div>
        </div>
    </section>
    <section class="banner">
        <div class="banner-container df">
            <h4>加入會員取得9折優惠</h4>
            <button class="lebel-md button-primary" type="button">馬上註冊</button>

        </div>
    </section>
            
</body>
<%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
</body>
</html>